<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="position:absolute; left: 1px;">
    <h1>信息管理</h1>
    <ul>
        <li>书籍管理
            <ul>
                <li><a href="/book/booklist">查看所有书籍</a></li>
                <li><a href="/book/add">添加书籍</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>书籍分类管理
            <ul>
                <li><a href="/class/classlist">查看所有书籍分类</a></li>
                <li><a href="/class/add">添加书籍分类</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>会员管理
            <ul>
                <li>
                    <a href="/user/userlist">查看所有会员</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
<center>
    <div >
        <h1 th:text="'欢迎'+${session.admin.name}+'来到书店管理系统'">欢迎</h1>
        <h3 style="position: absolute; right: 100px;"><a href="#">退出登录</a></h3>
    </div>
    <div style="position:absolute; left: 550px;top: 150px">
        <h3>添加书籍</h3>
        <form action="/book/save" method="post">
            <input type="hidden" th:value="${book.id}" name="id">
            <table border="1px">
                <tr>
                    <td>书名</td>
                    <td><input type="text" th:value="${book.bookname}" name="bookname"></td>
                </tr>
                <tr>
                    <td>作者</td>
                    <td><input type="text" th:value="${book.author}" name="author"></td>
                </tr>
                <tr>
                    <td>价格</td>
                    <td><input type="text" th:value="${book.price}" name="price"></td>
                </tr>
                <tr>
                    <td>封面地址</td>
                    <td><input type="text" th:value="${book.path}" name="path"></td>
                </tr>
                <tr>
                    <td>描述</td>
                    <td><input type="text" th:value="${book.descr}" name="descr"></td>
                </tr>
                <tr>
                    <td>所属分类</td>
                    <td><select  name="classid">
                        <option value="">请选择</option>
                        <option th:each="class:${session.classList}" th:value="${class.id}" th:text="${class.name}"></option>
                    </select></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <button type="submit">保存</button>&nbsp;&nbsp;
                            <button type="reset">重置</button>&nbsp;&nbsp;
                            <a href="/book/booklist">返回</a>
                        </center>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</center>
</body>
<script>

</script>
</html>